[tool.poetry]
name = "pysmo"
version = "1.0.0-dev0"
description = "Python module for seismologists."
readme = "README.md"
authors = ["Simon M. Lloyd <simon@slloyd.net>"]
license = "GPL-3.0-or-later"
documentation = "https://pysmo.readthedocs.io"
exclude = [
    "tests",
    "docs",
]
classifiers = [
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
scipy = "^1.10.1"
numpy = "^1.24.3"
matplotlib = "^3.7.1"
pyproj = "^3.5.0"
PyYAML = "^6.0"
requests = "^2.30.0"


[tool.poetry.group.dev.dependencies]
Sphinx = ">=5,<7"
flake8 = "^6.0.0"
pytest = "^7.3.1"
pytest-mpl = "^0.16.1"
pytest-cov = "^4.0.0"
pytest-mypy = "^0.10.3"
pytest-depends = "^1.0.1"
furo = "^2023.5.20"
types-pyyaml = "^6.0.12.9"
types-requests = "^2.30.0.0"
myst-parser = "^1.0.0"
nbsphinx = "^0.9.1"
pygments = "^2.15.1"
ipython = "^8.13.2"
jupyter = "^1.0.0"
sphinx-autobuild = "^2021.3.14"

[tool.mypy]
namespace_packages = true
disallow_untyped_defs = true
warn_unused_ignores = true
warn_redundant_casts = true

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
